# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnpm-store

# data
.data/

# build artifacts
/dist
/build
/.next
/out

# reports
/reports
/coverage

# misc
.DS_Store
*.pem

# local env files
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# vercel
.vercel

# turbo
.turbo
